<section id="projects">
<div class="container">
  <h3>Interests</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong>History</strong>
			- My fascination has grown as I have. History takes us on a fantastic ride to a different era - with different beliefs and "truths". Its also like a secret, magical mirror - looking back often helps predict the future.
		</h5>
        <h5>
			<i class="fa fa-rocket"></i>&nbsp;&nbsp;<strong>Productivity</strong>
			- Ironically, my favourite procrastination.
		</h5>
        <h5>
			<i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;<strong>Artificial Intelligence</strong>
			- This has been my draw as far back as I remember. This is what got me interested in Computers. Replicating the human brain, with all its memory, consciousness and emotions - that's the dream.
		</h5>
        <h5>
			<i class="fa fa-users"></i>&nbsp;&nbsp;<strong>Cultural diversity</strong>
			- I love to explore, and in general think about the deep richness and variety across cultures. And then contrast it with the unifying layer - DNA, which dictates us to the same primal instincts.
		</h5>
        <h5>
			<i class="fa fa-flask"></i>&nbsp;&nbsp;<strong>Physics of the universe</strong>
			- Particularly quantum physics, relativity annd interstellar space.
		</h5>
        <h5>
			<i class="fa fa-cogs"></i>&nbsp;&nbsp;<strong>The Unix design principles</strong>
			- I look to this whenever I find myself in a sprawling project.
		</h5>
        <h5>
			<i class="fa fa-music"></i>&nbsp;&nbsp;<strong>Classic Rock. Music with good lyrics.</strong>
			- Most of the songs of Pink Floyd, The Beatles, Kishore Kumar and Jagjit Singh appeal to me.
		</h5>

    </div>
  </div>
</div>
</section>
