<section id="projects">
<div class="container">
  <h3>Interests</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong>History</strong>
			- My fascination has grown as I have. History takes us on a fantastic ride to a different era - with different beliefs and "truths". Its also like a secret, magical mirror - looking back often helps predict the future.
		</h5>
        <h5>
			<i class="fa fa-rocket"></i>&nbsp;&nbsp;<strong>Productivity</strong>
			- My favourite procrastination. Organising stuff so that it functions like my external brain. GTD, 80-20, big rocks, minimalism - I love the stuff. Of course it is never perfect!
		</h5>
        <h5>
			<i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;<strong>Artificial Intelligence</strong>
			- This has been my draw as far back as I remember. This is what got me interested in Computers. Replicating the human brain, with all its memory, consciousness and emotions - that's the dream. This is why I do what I do. 
		</h5>
        <h5>
			<i class="fa fa-users"></i>&nbsp;&nbsp;<strong>Cultural diversity</strong>
			- I love to think about this. The richness and variety across different cultures - we are spoilt for choice.
		</h5>
        <h5>
			<i class="fa fa-flask"></i>&nbsp;&nbsp;<strong>Physics of the universe</strong>
			- Particularly quantum physics, relativity annd interstellar space. Awe-inspiring. To think that this is reality boggles the mind.
		</h5>
        <h5>
			<i class="fa fa-cogs"></i>&nbsp;&nbsp;<strong>The Unix design principles</strong>
			- I look to this whenever I find myself in a sprawling project and need to disentangle stuff.
		</h5>
        <h5>
			<i class="fa fa-google"></i>&nbsp;&nbsp;<strong>Google's architecture</strong>
			- Cutting-edge stuff. These guys are pushing the boundaries of software engineering and deployments.
		</h5>
        <h5>
			<i class="fa fa-music"></i>&nbsp;&nbsp;<strong>Classic Rock. Music with good lyrics.</strong>
			- This is just personal taste. Most of the songs of Pink Floyd, The Beatles, Kishore Kumar and Jagjit Singh appeal to me.
		</h5>

    </div>
  </div>
</div>
</section>
